
  #logo {
    width: auto !important;
    height: 36px !important;
  }
  .logo {
    background: url("../chatService/getIcon") no-repeat scroll 0 0px transparent;
    background-size: auto 36px;
    width: auto !important;
    height: 36px !important;
  }

  
